<article class="archive__post">
  <header class="archive__post-header">
    <h2 class="archive__post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    {% if post.date %}
      <p class="archive__post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}
    {% if post.venue and post.date %}
      <p class="archive__post-venue"><i>{{ post.venue }}</i>, {{ post.date | date: "%B %d, %Y" }}</p>
    {% elsif post.venue %}
      <p class="archive__post-venue"><i>{{ post.venue }}</i></p>
    {% elsif post.date %}
      <p class="archive__post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    {% else %}
      <p class="archive__post-status">Under Review</p>
    {% endif %}
  </header>
  <section class="archive__post-excerpt">
    {{ post.excerpt }}
  </section>
</article>